<div class="navbar-expand-lg bg-dark text-light rounded-bottom-4">
    <ul class="locationsList d-flex justify-content-between" style="padding: 0 30px 0 30px">
        <li><a href="/ayarlar/referee">Ayarlar > Hakem</a></li>
        <li><i class="fa-solid fa-circle-question"></i></li>
    </ul>
</div>


<div class="container mx-3" style="margin-left: 0;">
    <div class="row justify-content-center">
        {{>left-navMain}}
        <div
            class="uk-card uk-card-default uk-card-large uk-card-body uk-card-hover justify-content-center col-md-7 my-3">


            <h3 class="uk-card-title text-center">Hakem Ayarları</h3>
            <p class="uk-text-meta uk-margin-remove-top text-center">Hakem ile ilgili bilgileri aşağıdan
                değiştirebilirsiniz.</p>
            <hr class="uk-divider-icon">
            <form action="/ayarlar/referee/hakem" method="POST">

                <div class="row">
                    <div class="col-md-6">
                        <h2 class="uk-card-title text-center">Hakem Bilgileri</h2>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <input class="uk-input" type="text" name="refereeName" required placeholder="Hakem İsmi"
                                    aria-label="Hakem İsmi" value="{{post.refereeName}}">
                            </div>
                            <div class="col-md-6 ">
                                <input class="uk-input" type="text" name="refereeSurName" required
                                    placeholder="Hakem Soy İsmi" aria-label="Hakem Soy İsmi"
                                    value="{{post.refereeSurName}}">
                            </div>
                        </div>
                        <div class="row justify-content-center my-3">
                            <div class="col-md-6">
                                <input class="uk-input" type="number" name="refereeNumber" required
                                    placeholder="Hakem Numarası" min="0" value="{{post.refereeNumber}}"
                                    aria-label="Hakem Numarası">
                            </div>
                            <div class="col-md-6 ">
                                <input class="uk-input" type="number" name="importanceOfReferee" required="" min="0"
                                    max="10" value="{{post.importanceOfReferee}}" placeholder="Hakem Puanı"
                                    aria-label="Hakem Puanı">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2 class="uk-card-title text-center">Hakem Pozisyon Seçimi</h2>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="row">
                                    <label><input class="uk-checkbox" type="checkbox" name="middleRefereeIsChecked"
                                            checked>
                                        Orta Hakem</label>
                                </div>
                                <div class="row">
                                    <label><input class="uk-checkbox" type="checkbox" name="linemanIsChecked">
                                        Yan Hakem</label>
                                </div>
                                <div class="row">
                                    <label><input class="uk-checkbox" type="checkbox" name="fourthRefereeIsChecked">
                                        Dördüncü Hakem</label>
                                </div>
                                <div class="row">
                                    <label><input class="uk-checkbox" type="checkbox" name="varRefereeIsChecked">
                                        VAR Hakem</label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="uk-card-title text-center">Hakem Maçları</h2>
                        <div class="row justify-content-center">
                            <div class="row col-md-12">
                                <p class="col-md-5">Şu ligin/liglerin maçına verme: </p>
                                <div class="col-md-7">
                                    <select class="uk-select" name="optionRefereeLeague"
                                        aria-label="Şu liglerin maçına verme : " multiple multiselect-search="true"
                                        multiselect-select-all="true" multiselect-max-items="3">
                                        {{#each league}}
                                        <option value="{{_id}}">{{leagueName}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <p class="col-md-5">Şu grubun/grupların maçına verme: </p>
                                <div class="col-md-7">
                                    <select class="uk-select" name="optionRefereeGroup"
                                        aria-label="Şu liglerin maçına verme : " multiple multiselect-search="true"
                                        multiselect-select-all="true" multiselect-max-items="3">
                                        {{#each league}}
                                        {{#times groupNumber}}
                                        <option value="{{../_id}}"> {{../leagueName}} - Grup {{this}}</option>
                                        {{/times}}
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <p class="col-md-5">Şu takımın/takımların maçına verme: </p>
                                <div class="col-md-7">
                                    <select class="uk-select" name="refereeTeam"
                                        aria-label="Şu liglerin maçına verme : " multiple multiselect-search="true"
                                        multiselect-select-all="true" multiselect-max-items="3">
                                        {{#each team}}
                                        <option value="{{_id}}">{{leagueName.leagueName}} - {{teamName}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <p class="col-md-5">Hakemi şu tarihlerde atamaya kapat: </p>
                                <div class="col-md-7">
                                    <input type="text" id="datePick" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <h2 class="uk-card-title text-center">Hakem Puanı</h2>
                            <div class="row justify-content-center">
                                <progress id="js-progressbar" class="uk-progress" value="45" max="100"></progress>
                            </div>
                        </div>
                        <div class="row justify-content-center column-gap-2 my-4" style="">
                            <button class="greenButton col-md-4" type="submit">Kaydet</button>
                            <button class="cancelButton col-md-4" type="reset">İptal</button>
                        </div>
                        <div class="row justify-content-center">
                            <h2 class="text-center">Tehlikeli Bölge <span style="color: red;">!</span></h2>
                            <button type="button" class="redButton col-md-4">Sil</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div
            class="uk-card uk-card-default uk-card-large uk-card-body uk-card-hover justify-content-center col-md-4 my-3">
            <h3 class="uk-card-title text-center">Hakem Seçimi</h3>
            <p class="uk-text-meta uk-margin-remove-top text-center">Bilgilerini getirmek istediğiniz hakemi seçiniz.
            </p>
            <hr class="uk-divider-icon">
            <select class="uk-select" id="refereeSelect" name="optionRefereeGroup" aria-label="Hakem Seçiniz: ">
                <option value="" disabled selected>Hakem Seçiniz</option>
                {{#each referee}}
                <option value="{{_id}}"> {{refereeName}} {{refereeSurName}} </option>
                {{/each}}
            </select>
            <div class="row justify-content-center column-gap-2 my-4" style="">
                <button type="button" id="buttonDirector" onclick="refereeChanged()"
                    class="greenButton  col-md-5">Bilgileri
                    getir</button>
                <button type="button" onclick="window.location.href='/ayarlar/referee/newreferee'"
                    class="cancelButton  col-md-5">Yeni hakem</button>
            </div>
        </div>
    </div>

</div>


{{>sessionFlashMessage}}


<script>

    $(document).ready(function () {
        $('#datePick').multiDatesPicker();
    });
</script>