<div class="navbar-expand-lg bg-dark text-light rounded-bottom-4">
    <ul class="locationsList d-flex justify-content-between" style="padding: 0 30px 0 30px">
        <li><a href="/ayarlar/referee">Atamalar > Hakem</a></li>
        <li><i class="fa-solid fa-circle-question"></i></li>
    </ul>
</div>
{{>reportBar}}

<div class="container">
    <div class="row">
        <div
            class="uk-card uk-card-default uk-card-large uk-card-body uk-card-hover justify-content-center col-md-3 my-3">
            {{#if groups}} {{else if fixture}} {{else}}
            <form action="/fikstur/refereeSearch" method="POST" class="boxInfo">
                {{/if}}
                <div class="justify-content-center">
                    <div class="col-md-12 d-flex align-items-center">
                        <label class="col-md-6" for="dateSearchBegin">Başlangıç Tarihi:</label>
                        <div class="col-md-6">
                            <input class="uk-input py-2" type="date" value="{{moment start}}" name="dateSearchBegin">
                        </div>
                    </div>
                    <div class="col-md-12 d-flex my-2 align-items-center">
                        <label class="col-md-6 " for="dateSearchFinal">Bitiş Tarihi:</label>
                        <div class="col-md-6">
                            <input class="uk-input py-2" type="date" value="{{moment end}}" name="dateSearchFinal">
                        </div>
                    </div>
                    <div class="col-md-12 my-3">
                        <select class="uk-select" id="" name="leagueSelectFixture" aria-label="Lig Seçiniz">
                            <option value="" selected disabled>Lig Seçiniz</option>
                            {{#each league}}
                            <option value="{{_id}}">{{leagueName}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-md-12 my-3">
                        <select class="uk-select" id="" name="groupSelectFixture" aria-label="Grup Seçiniz">
                            <option value="" selected disabled>Grup Seçiniz</option>
                            {{#each group}}
                            <option value="{{_id}}">{{leagueName.leagueName}} - {{_id}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="row justify-content-center column-gap-2 my-4" style="">
                        <button type="submit" {{#if groups}}
                            onclick='window.location.href="/ayarlar/league/"+document.getElementById("leagueSelect").value'
                            {{/if}} class="col-md-12 greenButton">Aralık için ligleri
                            ara</button>
                    </div>
                </div>
        </div>
        <div
            class="uk-card uk-card-default uk-card-large uk-card-body uk-card-hover justify-content-center col-md-9 my-3    ">
            {{#if leaguesCount}}
            <div class="col-md-12">
                <table class="uk-table uk-table-striped uk-table-hover">
                    <thead>
                        <tr>
                            <th class=" uk-text-center uk-text-middle">Lig Adı</th>
                            <th class=" uk-text-center">Orta Hakem Sayısı</th>
                            <th class="uk-text-center">Yan Hakem Sayısı</th>
                            <th class="uk-text-center">2. Yan Hakem Sayısı</th>
                            <th class="uk-text-center">Dördüncü Hakem Sayısı</th>
                            <th class="uk-text-center">VAR Hakem Sayısı</th>
                            <th class="uk-text-center">2. VAR Hakem Sayısı</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each leaguesCount}}
                        <tr>
                            <td class="uk-text-center"><a
                                    href="/hakem/lig/{{this.id}}/gruplar?dateSearchBegin={{../start}}&dateSearchFinal={{../end}}">{{
                                    this.name }}</a>
                            </td>
                            <td class="uk-text-center">{{ this.middleRefereeCount }}</td>
                            <td class="uk-text-center">{{this.linemanRefereeCount}}</td>
                            <td class="uk-text-center">{{this.secondLinemanRefereeCount}}</td>
                            <td class="uk-text-center">{{this.fourthRefereeCount}}</td>
                            <td class="uk-text-center">{{this.varRefereeCount}}</td>
                            <td class="uk-text-center">{{this.secondVarRefereeCount}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{/if}}
            {{#if groupsCount}}
            <div class="col-md-12">
                <table class="uk-table uk-table-striped uk-table-hover">
                    <thead>
                        <tr>
                            <th class=" uk-text-center uk-text-middle">Grup Adı</th>
                            <th class=" uk-text-center">Orta Hakem Sayısı</th>
                            <th class="uk-text-center">Yan Hakem Sayısı</th>
                            <th class="uk-text-center">2. Yan Hakem Sayısı</th>
                            <th class="uk-text-center">Dördüncü Hakem Sayısı</th>
                            <th class="uk-text-center">VAR Hakem Sayısı</th>
                            <th class="uk-text-center">2. VAR Hakem Sayısı</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each groupsCount}}
                        <tr>
                        <tr>
                            <td class="uk-text-center"><a
                                    href="/hakem/gruplar/{{this.id}}/takimlar?dateSearchBegin={{../start}}&dateSearchFinal={{../end}}">{{
                                    this.id }}</a>
                            </td>
                            <td class="uk-text-center">{{ this.middleRefereeCount }}</td>
                            <td class="uk-text-center">{{this.linemanRefereeCount}}</td>
                            <td class="uk-text-center">{{this.secondLinemanRefereeCount}}</td>
                            <td class="uk-text-center">{{this.fourthRefereeCount}}</td>
                            <td class="uk-text-center">{{this.varRefereeCount}}</td>
                            <td class="uk-text-center">{{this.secondVarRefereeCount}}</td>
                        </tr>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{/if}}

            {{#if teamsCount}}
            <!-- Hakem Raporları -->
            <h1>Hakem Raporları</h1>

            <table>
                <thead>
                    <tr>
                        <th>Takım</th>
                        <th>Hakemler</th>
                        <th>Maç Sayısı</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each teamsCount}}
                    <tr>
                        <td>{{team}}</td>
                        <td>
                            <ul>
                                {{#each referees}}
                                <li><a href="/hakems/{{this.id}}">{{this.name}}</a></li>
                                {{/each}}
                            </ul>
                        </td>
                        <td>{{matchesCount}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            {{/if}}

        </div>
    </div>
</div>

<div class="mainPage">


</div>