<div class="navbar-expand-lg bg-dark text-light rounded-bottom-4">
    <ul class="locationsList d-flex justify-content-between" style="padding: 0 30px 0 30px">
        <li><a href="/ayarlar/referee">Ayarlar > Lig</a></li>
        <li><i class="fa-solid fa-circle-question"></i></li>
    </ul>
</div>

<div class="container mx-3" style="margin-left: 0;">
    <div class="row justify-content-center">
        {{>left-navMain}}
        <div
            class="uk-card uk-card-default uk-card-large uk-card-body uk-card-hover justify-content-center col-md-6 my-3">


            <h3 class="uk-card-title text-center">Lig Ayarları</h3>
            <p class="uk-text-meta uk-margin-remove-top text-center">Lig ile ilgili bilgileri aşağıdan
                değiştirebilirsiniz.</p>
            <hr class="uk-divider-icon">
            <form action="/ayarlar/league/lig" method="POST">

                <div class="row">
                    <div class="col-md-8">
                        <h2 class="uk-card-title text-center">Lig Bilgileri</h2>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <input class="uk-input" type="text" name="leagueName" required placeholder="Lig İsmi"
                                    aria-label="Lig İsmi" value="{{league.leagueName}}">
                            </div>
                            <div class="col-md-6 ">
                                <select class="uk-select" name="typeSelect">
                                    <option value="Çift Devreli Lig" {{#if (eq league.typeSelect "Çift Devreli Lig" )}}
                                        selected{{/if}}>Çift devreli lig</option>
                                    <option value="Tek Devreli Lig" {{#if (eq league.typeSelect "Tek Devreli Lig" )}}
                                        selected{{/if}}>Tek devreli lig</option>
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-center my-3">
                            <div class="col-md-6">
                                <input class="uk-input" type="number" name="importanceOfLeague" required="" min="1"
                                    max="10" value="{{league.importanceOfLeague}}" placeholder="Ligin Önemi (1-10)"
                                    aria-label="Ligin Önemi (1-10)">
                            </div>
                            <div class="col-md-6">
                                <input class="uk-input" type="number" name="matchDuration" required=""
                                    value="{{league.matchDuration}}" placeholder="Maç Süresi" aria-label="Maç Süresi">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h2 class="uk-card-title text-center">Lig İçin Gerekli Pozisyonlar</h2>
                        <div class="row">
                            <label><input class="uk-checkbox" type="checkbox" checked name="leagueMiddleRefereeIsChecked" {{#if
                        league.leagueMiddleRefereeIsChecked}}checked{{/if}}>
                                Orta Hakem</label>
                        </div>
                        <div class="row ">
                            <label><input class="uk-checkbox" type="checkbox" name="leagueLinemanIsChecked" id="leagueLinemanIsChecked" {{#if
                        league.leagueLinemanIsChecked}}checked{{/if}} >
                                Yan Hakem</label>
                        </div>
                        <div class="row uk-hidden" id="leagueSecondLinemanIsChecked">
                            <label><input class="uk-checkbox" type="checkbox" name="leagueSecondLinemanIsChecked" {{#if
                        league.leagueSecondLinemanIsChecked}}checked{{/if}} >
                               2. Yan Hakem</label>
                        </div>
                        <div class="row">
                            <label><input class="uk-checkbox" type="checkbox" name="leagueFourthRefereeIsChecked" {{#if
                        league.leagueFourthRefereeIsChecked}}checked{{/if}} >
                               Dördüncü Hakem</label>
                        </div>
                        <div class="row">
                            <label><input class="uk-checkbox" type="checkbox"  name="leagueVarRefereeIsChecked" id="leagueVarRefereeIsChecked" {{#if
                        league.leagueVarRefereeIsChecked}}checked{{/if}} >
                               VAR Hakem</label>
                        </div>
                        <div class="row uk-hidden" id="leagueSecondVarRefereeIsChecked">
                            <label><input class="uk-checkbox" type="checkbox" name="leagueSecondVarRefereeIsChecked" {{#if
                        league.leagueSecondVarRefereeIsChecked}}checked{{/if}} >
                               2. VAR Hakem</label>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row justify-content-center column-gap-2 my-4" style="">
                            <button class="greenButton col-md-4" type="submit">Kaydet</button>
                            <button class="cancelButton col-md-4" type="reset">İptal</button>
                        </div>
                        <div class="row justify-content-center">
                            <h2 class="text-center">Tehlikeli Bölge <span style="color: red;">!</span></h2>
                            <button type="button" class="redButton col-md-4">Sil</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div
            class="uk-card uk-card-default uk-card-large uk-card-body uk-card-hover justify-content-center col-md-5 my-3">
            <h3 class="uk-card-title text-center">Lig Listesi</h3>
                        {{>league-table}}
        </div>
    </div>

</div>



    {{!-- <div class="hakemSettings3 ">
        <div class="boxSettings">
            <div class="boxSettingsTop" style="margin-left: 2em;">
                <h2>Lig Seçimi</h2>
                <p>Bilgilerini getirmek istediğiniz ligi seçiniz.</p>
            </div>
            <div class="hr"></div>
            <div class="boxSettingsMiddle" style="margin-left: 2em;">
                <form action="" class="boxInfo">
            </div>
            <select class="w3-select" name="option" id="leagueSelect" style="width: 40%; margin:2em;">
                <option value="" disabled selected>Lig Seçiniz</option>
                {{#each league}}
                <option value="{{_id}}">{{leagueName}}</option>
                {{/each}}
            </select>
            <div class="hr"></div>
            <div class="optionButtons" style="margin: 1em 2em; display:flex; gap: 3em;">
                <button type="button" onclick="leagueChanged()" class="greenButton">Bilgileri getir</button>
                <button type="button" onclick="window.location.href='/ayarlar/league/newleague'"
                    class="cancelButton">Yeni Lig</button>
            </div>
        </div>
    </div> --}}

<script>
    var secondLineman = document.getElementById("leagueSecondLinemanIsChecked")
    var firstLineman = document.getElementById("leagueLinemanIsChecked")
    firstLineman.addEventListener("change", function () {
        secondLineman.classList.toggle("uk-hidden")
    })
    var secondVarReferee = document.getElementById("leagueSecondVarRefereeIsChecked")
    var firstVarReferee = document.getElementById("leagueVarRefereeIsChecked")
    firstVarReferee.addEventListener("change", function () {
        secondVarReferee.classList.toggle("uk-hidden")
    })

    leagueSecondVarRefereeIsChecked
</script>