<div class="navbar-expand-lg bg-dark text-light rounded-bottom-4">
    <ul class="locationsList d-flex justify-content-between" style="padding: 0 30px 0 30px">
        <li><a href="/ayarlar/referee">Ayarlar > Takım</a></li>
        <li><i class="fa-solid fa-circle-question"></i></li>
    </ul>
</div>

<div class="container mx-3" style="margin-left: 0;">
    <div class="row justify-content-center">
        {{>left-navMain}}
        <div
            class="uk-card uk-card-default uk-card-large uk-card-body uk-card-hover justify-content-center col-md-5 my-3">


            <h3 class="uk-card-title text-center">Takım Ayarları</h3>
            <p class="uk-text-meta uk-margin-remove-top text-center">Takım ile ilgili bilgileri aşağıdan
                değiştirebilirsiniz.</p>
            <hr class="uk-divider-icon">
            <form action="/ayarlar/team/takim" method="POST">

                <div class="row">
                    <div class="col-md-12">
                        <h2 class="uk-card-title text-center">Takım Bilgileri</h2>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <input class="uk-input" type="text" name="teamName" required placeholder="Takım İsmi"
                                    aria-label="Takım İsmi" value="{{team.teamName}}">
                            </div>
                            <div class="col-md-6 ">
                                <select class="uk-select" name="leagueName">
                                    <option value="" disabled selected>Lig Seçiniz</option>
                                    {{#each league}}
                                    <option value="{{_id}}">{{leagueName}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row justify-content-center column-gap-2 my-4" style="">
                            <button class="greenButton col-md-4" type="submit">Kaydet</button>
                            <button class="cancelButton col-md-4" type="reset">İptal</button>
                        </div>
                        <div class="row justify-content-center">
                            <h2 class="text-center">Tehlikeli Bölge <span style="color: red;">!</span></h2>
                            <button type="button" class="redButton col-md-4">Sil</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div
            class="uk-card uk-card-default uk-card-large uk-card-body uk-card-hover justify-content-center col-md-6 my-3">
            <h3 class="uk-card-title text-center">Takım Listesi</h3>
            <table class="uk-table uk-table-striped uk-table-hover">
                <thead>
                    <tr>
                        <th>Takım Adı</th>
                        <th>Takım Ligi</th>
                        <th>Takım Seçenekleri</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each team}}
                    <tr>
                        <td> <a href="/ayarlar/team/{{_id}}">{{teamName}}</a></td>
                        <td style="text-align: center;">{{leagueName.leagueName}}</td>
                        <td style="text-align: center;;">
                            <form action="/ayarlar/team/{{_id}}?_method=DELETE" method="post">
                                <input type="hidden" name="_method" value="DELETE">
                                <button style="width: 50%;" type="submit" class="redButton">Sil</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</div>


{{>sessionFlashMessage}}

