<div class="barColor"
    style="background-color: rgb(35, 34, 66); width: 100%; text-align:end; color:white; padding-top:0.5em; padding-right:0.7em; opacity:0.8">
</div>
</div>
</div>
<div class="locations">
    <ul class="locationsList">
        <li>Atamalar > Fikstür</li>
        <li><i class="fa-solid fa-circle-question"></i></li>
    </ul>
</div>
</nav>
<h1> {{ referee.refereeName }} {{referee.refereeSurName}}</h1>

<div class="mainPage">
    <div style="width: 100vw;">

        <div class="boxSettings" style="width:max-content;">
            <form action="/{{referee._id}}/hakem/leagueSearch" method="POST" class="boxInfo">
                <div style="text-align:right;">
                    <label for="dateSearchBegin">Başlangıç Tarihi:</label>
                    <input type="date" value="{{moment start}}" default name="dateSearchBegin" id="">
                </div>
                <div style="text-align:right;">
                    <label for="dateSearchFinal">Bitiş Tarihi:</label>
                    <input type="date" name="dateSearchFinal" value="{{moment end}}" id="">
                </div>
                <div style="text-align:right;">
                    <select name="leagueSelectFixture">
                        <option value="" selected disabled>Lig Seçiniz</option>
                        {{#each league}}
                        <option value="{{_id}}">{{leagueName}}</option>
                        {{/each}}
                    </select>
                </div>
                <div style="text-align:right;">
                    <select name="groupSelectFixture">
                        <option value="" selected disabled>Grup Seçiniz</option>
                        {{#each group}}
                        <option value="{{_id}}">{{leagueName.leagueName}} - {{_id}}</option>
                        {{/each}}
                    </select>
                </div>

                <button type="submit" style="height: 3em;width:12em;margin:1em;" {{#if groups}}
                    onclick='window.location.href="/ayarlar/league/"+document.getElementById("leagueSelect").value'
                    {{/if}} class="greenButton">Aralık için ligleri
                    ara</button>

            </form>
        </div>

    </div>
    {{#if leagues}}
    <div class="boxSettings" style="height: max-content;;width:450px;">

        <table class="uk-table uk-table-striped uk-table-hover">
            <thead>
                <tr>
                    <th>Lig Adı</th>
                    <th>Maç Sayısı</th>
                </tr>
            </thead>
            <tbody>
                {{#each leagues}}
                <tr>
                    <td><a href="/{{../referee._id}}/hakem/groupSearch?leagueId={{this.leagueId}}&dateSearchBegin={{../start}}&dateSearchFinal={{../end}}">{{this.league}}</a></td>
                    <td style="text-align: center;">{{this.numFixtures}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <table id="column-example-15" style=" height: 200px;max-width: 600px;margin: 0 auto; margin-top:2em;"
        class="charts-css column show-labels show-primary-axis show-4-secondary-axes show-data-axes">
        <caption> Hakem Grafiği </caption>
        <thead>
            <tr>
                <th scope="col"> Hakem </th>
                <th scope="col"> Maç </th>
            </tr>
        </thead>
        <tbody>
            {{#each leagues}}
            <tr>
                <th scope="row">{{this.league}}</th>
                <td style="--size: calc({{this.numFixtures}} / {{../totalFixtures}});color:white;">{{matchCount}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}
    {{#if groups}}
    <div class="boxSettings" style="height: max-content;;width:max-content;">

        <table class="uk-table uk-table-striped uk-table-hover">
            <thead>
                <tr>
                    <th>Lig Adı</th>
                    <th>Grup Numarası</th>
                    <th>Maç Sayısı</th>
                </tr>
            </thead>
            <tbody>
                {{#each groups}}
                <tr>
                    <td>{{leagueName.leagueName}}</td>
                    <td><a href="/{{../referee._id}}/hakem/matchSearch?groupId={{this.group}}&dateSearchBegin={{../start}}&dateSearchFinal={{../end}}">{{this.group}}</a></td>
                    <td style="text-align: center;">{{this.numFixtures}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <table id="column-example-15" style=" height: 200px;max-width: 600px;margin: 0 auto; margin-top:2em;"
        class="charts-css column show-labels show-primary-axis show-4-secondary-axes show-data-axes">
        <caption> Hakem Grafiği </caption>
        <thead>
            <tr>
                <th scope="col"> Hakem </th>
                <th scope="col"> Maç </th>
            </tr>
        </thead>
        <tbody>
            {{#each groups}}
            <tr>
                <th scope="row">{{this.group}}</th>
                <td style="--size: calc({{this.numFixtures}} / {{../totalFixtures}});color:white;">{{matchCount}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}
    {{#if teams}}
    <div class="boxSettings" style="height: max-content;;width:max-content;">

        <table class="uk-table uk-table-striped uk-table-hover">
            <thead>
                <tr>
                    <th>Takım Adı</th>
                    <th>Maç Sayısı</th>
                </tr>
            </thead>
            <tbody>
                {{#each teams}}
                <tr>
                    <td>{{this.team}}</td>
                    <td style="text-align: center;">{{this.numFixtures}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <table id="column-example-15" style=" height: 200px;max-width: 600px;margin: 0 auto; margin-top:2em;"
        class="charts-css column show-labels show-primary-axis show-4-secondary-axes show-data-axes">
        <caption> Hakem Grafiği </caption>
        <thead>
            <tr>
                <th scope="col"> Hakem </th>
                <th scope="col"> Maç </th>
            </tr>
        </thead>
        <tbody>
            {{#each teams}}
            <tr>
                <th scope="row">{{this.team}}</th>
                <td style="--size: calc({{this.numFixtures}} / ({{../totalFixtures}} * 2));color:white;">{{matchCount}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}
</div>